* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  font-family: "Comic Neue", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

#encabezado-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
  z-index: 2;
  flex-direction: column;
}

#brillo {
  font-size: 60px;
  font-family: "Great Vibes", cursive;
  color: #ff69b4;
  text-shadow: 0 0 20px #ff69b4;
  animation: pulso 3s infinite;
}

@keyframes pulso {
  0%, 100% { text-shadow: 0 0 10px #ff69b4; }
  50% { text-shadow: 0 0 30px #ff1493; }
}

.galeria {
  --d: 10s;
  display: grid;
  place-items: center;
  width: 80%;
  max-width: 300px;
  z-index: 2;
  margin-bottom: 40px;
}

.galeria > img {
  grid-area: 1/1;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border: 10px solid #ff69b4;
  box-shadow: 0 0 10px #ff69b4;
  animation: slide var(--d) infinite, z-order var(--d) infinite steps(1);
  border-radius: 20px;
}

.galeria img:last-child {
  animation-name: slide, z-order-last;
}

.galeria > img:nth-child(1) { animation-delay: calc(0 * var(--d)); --r: 16deg; }
.galeria > img:nth-child(2) { animation-delay: calc(-0.2 * var(--d)); --r: -1deg; }
.galeria > img:nth-child(3) { animation-delay: calc(-0.4 * var(--d)); --r: -19deg; }
.galeria > img:nth-child(4) { animation-delay: calc(-0.6 * var(--d)); --r: 6deg; }
.galeria > img:nth-child(5) { animation-delay: calc(-0.8 * var(--d)); --r: -8deg; }

@keyframes slide {
  10% { transform: translateX(120%) rotate(var(--r)); }
  0%, 100%, 20% { transform: translateX(0%) rotate(var(--r)); }
}

@keyframes z-order {
  10%, 20% { z-index: 1; }
  80% { z-index: 2; }
}

@keyframes z-order-last {
  10%, 20% { z-index: 1; }
  90% { z-index: 2; }
}

@media only screen and (max-width: 600px) {
  #brillo {
    font-size: 32px;
  }

  .galeria {
    width: 90%;
  }
}

#lluviaTeAmo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
}

@keyframes flotar {
  0% { transform: translateY(0) scale(1); opacity: 1; }
  100% { transform: translateY(-100px) scale(1.5); opacity: 0; }
}
